body {
  overflow: hidden;
}

.intro-box-modal {
  /* display: none; */
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(42, 40, 54, 0.6);
}

.intro-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(42, 40, 54, 0.6);
  width: 800px;
  height: auto;
  border: 5px double black;
  border-radius: 12px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  cursor: default;
}

.intro-box-content {
  margin: 4% 8%;
}

.intro-box h1 {
  margin-top: 4%;
  text-align: center;
  font-size: 30px;
}

.modal-text {
  margin-top: 4%;
  font-size: 16px;
  word-spacing: 6px;
  line-height: 175%;
  text-align: justify;
  font-family: 'Oxygen', sans-serif;
}

.intro-box h2 {
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
  text-decoration: underline;
}

.scale-text {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 4%;
  text-align: center;
}

.scale-text div {
  margin: 1% 0;
}

.begin {
  text-align: center;
  margin: auto 0;
}

.link-container {
  text-align: center;
  margin-top: 3.5%;
  font-size: 14px;
}

.link-container a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.link-container a:hover {
  color: aquamarine;
  transition: 500ms ease;
}

#scale-gui { 
  position: absolute; 
  bottom: 0%; 
  right: 1%; 
}

#about-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.about-button, .music-button {
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  border: none;
}

.about-button:hover, .music-button:hover {
  color: aquamarine;
  transition: 250ms ease;
}

.music-on {
  color: aquamarine;
}

li.title {
  font-size: 18px;
}

span.property-name {
  font-size: 14px;
}
